# This is Git's per-user configuration file.
[user]
	name = Thorben von Rekowski
	email = rekowski.thorben@gmail.com
	signingkey = 2270CBB5
[core]
	editor = vim
[commit]
    template = ~/.config/gitcommittemplate
	gpgsign = true

[pull]
	rebase = false
